<div>
<h2 class="test">USERS</h2>
<mat-list *ngIf="result">
    <mat-list-item *ngFor="let item of result; let i = index">
        <a [routerLink]="'/users/' + item.login">
        {{i+1}}) 
        <img src="{{item.avatar_url}}" class="avatar" alt="avatar"/> 
        {{item.login}}
        </a>
    </mat-list-item>
</mat-list>

<div class="pagination">
<div>Current Page: {{ pages }}</div>
<section>
    <br/>
    <div class="example-button-row">
        <button mat-raised-button id="increment" (click)="increment()">Next</button>
        <button mat-raised-button id="decrement" (click)="decrement()">Prev</button>
        <button mat-raised-button id="reset" (click)="reset()">First</button>
    </div>
</section>
</div>

</div>
