<div class="user-detail">
    <mat-card class="example-card" *ngIf="result">
        <mat-card-header>
          <mat-card-title>{{result.login}}</mat-card-title>
          <mat-card-subtitle>followers: {{result.followers}}</mat-card-subtitle>
          <mat-card-subtitle>following: {{result.following}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="avatar" src="{{result.avatar_url}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-list *ngIf="repos">
                <mat-list-item *ngFor="let item of repos; let i = index">
                    <a [routerLink]="'/repos/' + result.login + '/' + item.name ">
                    {{i+1}}) {{item.name}}
                    </a>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
</div>
